
<h2>Automated Exams Seating Plan| Admin Pannel</h2>

<div>
    @Html.ActionLink("Admin Pannel ", "Index", "AdminHome")|

    @Html.ActionLink("Create New Student ", "AddStudent", "Student")|
    @Html.ActionLink("Student List", "Index", "Student")|

    @Html.ActionLink("Creat New Room", "AddRoom", "Room")|
    @Html.ActionLink("Room List", "Index", "Room")|
    @Html.ActionLink("Create New Employee", "AddFaculty", "Faculty")|
    @Html.ActionLink("List Of Employees", "Index", "Faculty")|
    @Html.ActionLink("Create Time Table", "AddTimeTable", "TimteTable")|
    @Html.ActionLink("Show Time Table", "Index", "TimteTable")|
    @Html.ActionLink("Logout", "Logout", "FacultyHome")|
</div>

<div>

</div>


