
@{
    ViewBag.Title = "Index";
}

<h2>Automated Exams Seating Plan</h2>

<div>
    @Html.ActionLink("Home", "Index", "Home")|

        @Html.ActionLink("Employee Signup", "Signup", "FacultyAccount") |
    @Html.ActionLink("Employee Login ", "Login", "FacultyAccount") |
    @Html.ActionLink("Student Signup", "Signup", "StudentAccount") |
    @Html.ActionLink("Student Login ", "Login", "StudentAccount") |
</div>

<div>
   
</div>



